name: build

on:
    push:
        branches:
        - main
    pull_request:
        branches:
        - main

jobs:
  jvm-build:
    name: Test with JVM
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        distribution: 'zulu'
        java-version: '17'

    - name: Test
      run: ./gradlew :composeApp:cleanJvmTest :composeApp:jvmTest